extends ../layouts/common.pug

block content
    .jumbotron.w-100
        h1 New Product

        if errors
            each error in errors
                .alert.alert-danger= error
        form(action="/products/create", method="POST", enctype="multipart/form-data")

            .form-group
                label(for="image") Product Image
                input#image.form-control(type="file", name="image", value=values ? values.image : '', onchange="previewFile()", accept="image/*")
                img.rounded.img-thumbnail(src='', style='width: 104px; height: 104px;')
            .form-group
                label(for="name") Product Name
                input#name.form-control(type="text", name="name", value=values ? values.name : '')

            .form-group
                label(for="amount") Product Amount
                input#amount.form-control(type="number", name="amount", value=values ? values.amount : '')

            .form-group
                label(for="price") Product Price
                input#price.form-control(type="number", name="price", value=values ? values.price : '')

            .form-group
                label(for="producer") Product Producer
                input#producer.form-control(type="text", name="producer", value=values ? values.producer : '')

            button.btn.btn-primary Create
    script.
        function previewFile() {
            const preview = document.querySelector('img');
            const file = document.querySelector('input[type=file]').files[0];
            const reader = new FileReader();
            reader.addEventListener("load", function () {
                preview.src = reader.result;
            }, false);

            if (file) {
                reader.readAsDataURL(file);
            }
        }
